In [1]:
import sqlite3
import pandas as pd
import os

os.chdir("..")

In [2]:
def list_tables(conn):
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    tables = pd.read_sql_query(query, conn)
    print("\nüìã Tables in database:")
    print(tables)

def show_schema(conn, table):
    query = f"PRAGMA table_info({table});"
    schema = pd.read_sql_query(query, conn)
    print(f"\nüîç Schema for table '{table}':")
    print(schema)

def count_rows(conn, table):
    query = f"SELECT COUNT(*) as row_count FROM {table};"
    result = pd.read_sql_query(query, conn)
    print(f"\nüî¢ Row count for '{table}': {result.iloc[0]['row_count']}")

def preview_data(conn, table, limit=5):
    query = f"SELECT * FROM {table} LIMIT {limit};"
    df = pd.read_sql_query(query, conn)
    print(f"\nüëÄ Preview of '{table}':")
    print(df)

In [ ]:
DB_PATH = "data/raw/track_metadata.db"
conn = sqlite3.connect(DB_PATH)
# List tables
list_tables(conn)
conn.close()

üìã Tables in database:
    name
0  songs

In [4]:
conn = sqlite3.connect(DB_PATH)

# Example exploration on known tables (e.g., 'songs')
for table in ["songs", "artist_alias", "artist_terms"]:
    try:
        show_schema(conn, table)
        count_rows(conn, table)
        preview_data(conn, table)
    except Exception as e:
        print(f"\n‚ö†Ô∏è Skipped table '{table}': {e}")

conn.close()

üîç Schema for table 'songs':
    cid                name  type  notnull dflt_value  pk
0     0            track_id  TEXT        0       None   1
1     1               title  TEXT        0       None   0
2     2             song_id  TEXT        0       None   0
3     3             release  TEXT        0       None   0
4     4           artist_id  TEXT        0       None   0
5     5         artist_mbid  TEXT        0       None   0
6     6         artist_name  TEXT        0       None   0
7     7            duration  REAL        0       None   0
8     8  artist_familiarity  REAL        0       None   0
9     9   artist_hotttnesss  REAL        0       None   0
10   10                year   INT        0       None   0
11   11    track_7digitalid   INT        0       None   0
12   12            shs_perf   INT        0       None   0
13   13            shs_work   INT        0       None   0

üî¢ Row count for 'songs': 1000000

üëÄ Preview of 'songs':
             track_id              title             song_id  \
0  TRMMMYQ128F932D901       Silent Night  SOQMMHC12AB0180CB8
1  TRMMMKD128F425225D        Tanssi vaan  SOVFVAK12A8C1350D9
2  TRMMMRX128F93187D9  No One Could Ever  SOGTUKN12AB017F4F1
3  TRMMMCH128F425532C      Si Vos Quer√©s  SOBNYVR12A8C13558C
4  TRMMMWA128F426B589   Tangle Of Aspens  SOHSBXH12A8C13B0DF

                                release           artist_id  \
0                 Monster Ballads X-Mas  ARYZTJS1187B98C555
1                           Karkuteill√§  ARMVN3U1187FB3A1EB
2                                Butter  ARGEKB01187FB50750
3                               De Culo  ARNWYLR1187B9B2F9C
4  Rene Ablaze Presents Winter Sessions  AREQDTE1269FB37231

                            artist_mbid       artist_name   duration  \
0  357ff05d-848a-44cf-b608-cb34b5701ae5  Faster Pussy cat  252.05506
1  8d7ef530-a6fd-4f8f-b2e2-74aec765e0f9  Karkkiautomaatti  156.55138
2  3d403d44-36ce-465c-ad43-ae877e65adc4    Hudson Mohawke  138.97098
3  12be7648-7094-495f-90e6-df4189d68615       Yerba Brava  145.05751
4                                              Der Mystic  514.29832

   artist_familiarity  artist_hotttnesss  year  track_7digitalid  shs_perf  \
0            0.649822           0.394032  2003           7032331        -1
1            0.439604           0.356992  1995           1514808        -1
2            0.643681           0.437504  2006           6945353        -1
3            0.448501           0.372349  2003           2168257        -1
4            0.000000           0.000000     0           2264873        -1

   shs_work
0         0
1         0
2         0
3         0
4         0

üîç Schema for table 'artist_alias':
Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

‚ö†Ô∏è Skipped table 'artist_alias': Execution failed on sql 'SELECT COUNT(*) as row_count FROM artist_alias;': no such table: artist_alias

üîç Schema for table 'artist_terms':
Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

‚ö†Ô∏è Skipped table 'artist_terms': Execution failed on sql 'SELECT COUNT(*) as row_count FROM artist_terms;': no such table: artist_terms